@using PCSetupHub.Data.Models.Hardware

@model PowerSupply

@{
    ViewData["Title"] = "Power Supply";
}

<h1 class="mt-2 mb-5">Create Power Supply</h1>

@await Html.PartialAsync("PcComponents/Forms/_PowerSupplyForm", new PcComponentFormViewModel<PowerSupply>(Model, FormMode.Create))