.contacts-tabs-container {
    border-bottom: 1px solid var(--color-text-muted);
    margin-bottom: 1.5rem;
}

.contacts-tab-item {
    border-radius: var(--border-radius);
}

.contacts-nav-link {
    display: block;
    font-size: 1.25rem;
    color: var(--color-light-text);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

    .contacts-nav-link.active {
        color: black;
        background-color: var(--color-text-muted);
    }

.contacts-back-nav-link {
    background-color: var(--color-text-muted);
    color: black;
    transition: background-color 0.2s ease-in-out;
}

    .contacts-back-nav-link:hover {
        background-color: rgb(248, 113, 113);
    }

.login-context {
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: var(--color-text-muted);
    font-size: 0.93rem;
}

.user-container {
    border-radius: var(--border-radius);
    padding: 0.75rem 1rem;
}

    .user-container:hover {
        background-color: var(--color-dark-background-hover);
    }

.user-link {
    color: var(--color-light-text);
    text-decoration: none;
}

.user-login {
    font-size: 1.15rem;
    font-weight: bold;
}

.user-name {
    font-size: 1.1rem;
    padding-left: 0.5rem;
}

@media (max-width: 768px) {
    .contacts-nav-link {
        font-size: 1.15rem;
        padding: 0.35rem 0.7rem;
    }

    .login-context {
        margin-left: 0rem;
        margin-bottom: 0.5rem;
    }

    .user-avatar {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 480px) {
    .contacts-nav-link {
        font-size: 1.1rem !important;
        padding: 0.2rem 0.4rem !important;
    }

    .user-avatar {
        width: 55px;
        height: 55px;
    }
}
