.game-icon {
    font-size: 2.35rem;
    transform: rotate(10deg);
    color: var(--color-secondary-accent);
    transition: 0.4s ease;
}

    .game-icon:hover {
        transform: rotate(0deg);
        transform: translateX(-0.3rem);
        color: var(--color-accent);
    }


.options-header {
    display: flex;
    justify-content: space-between;
    padding-inline: 1rem;
    color: var(--color-accent);
}

.first-option-container, .second-option-container {
    display: flex;
    border-radius: var(--border-radius);
    padding-block: 1rem;
    margin-block: 0.25rem;
}

.first-option-container {
    padding-left: 1rem;
}

.second-option-container {
    background-color: var(--color-dark-background-hover);
    justify-content: flex-end;
    padding-right: 1rem;
}

.button-apply {
    border-radius: var(--border-radius);
    border: none;
    font-size: 1.5rem;
    padding: 0.15rem 1.75rem;
    color: var(--color-light-text);
    background-color: rgb(70, 192, 68);
    transition: background-color 0.2s ease-in-out;
}

    .button-apply:hover {
        background-color: rgb(45, 154, 43);
    }


.answer-container {
    width: 50%;
    text-align: center;
    padding: 0.3rem 1rem;
    user-select: none;
    border-radius: var(--border-radius);
    font-size: 1.2rem;
}

    .answer-container:hover {
        background-color: var(--color-dark-background-hover);
    }

@media(max-width: 768px) {
    .answer-container {
        width: 75%;
    }
}
