@using PCSetupHub.Data.Models.Hardware

@model AssignmentGameViewModel

<div class="options-header pt-2 mb-2">
    <h3><b>Processors</b></h3>
    <h3><b>Video Cards</b></h3>
</div>

@for (int i = 0; i < Model.Processors.Length && i < Model.VideoCards.Length; i++)
{
    Processor processor = Model.Processors[i];
    VideoCard videoCard = Model.VideoCards[i];

    <div class="first-option-container">
        <div class="me-3">
            <b class="user-select-none fs-5 me-1">@(i + 1). </b>
            <span id=@($"openModal-{typeof(Processor).Name}-{processor.Id}") class="pc-component-name fs-5" translate="no">
                @processor.Name
            </span>
            @await Html.PartialAsync("PcComponents/_ComponentModal", processor)
        </div>
    </div>
    <div class="second-option-container">
        <div class="">
            <b class="user-select-none fs-5 me-1">@((char)('a' + i)). </b>
            <span id=@($"openModal-{typeof(VideoCard).Name}-{videoCard.Id}") class="pc-component-name fs-5" translate="no">
                @videoCard.Chipset
            </span>
            @await Html.PartialAsync("PcComponents/_ComponentModal", videoCard)
        </div>
    </div>
}