@{
	Layout = "_ErrorLayout";
	ViewData["Title"] = "Too Many Requests";
}

<h1>429</h1>
<p>Too Many Requests</p>
<p class="message">You have exceeded the number of allowed requests. Please try again later.</p>