@using PCSetupHub.Data.Models.Hardware

@model Hdd

@{
    ViewData["Title"] = "HDD";
}

<h1 class="mt-2 mb-5">Create HDD</h1>

@await Html.PartialAsync("PcComponents/Forms/_HddForm", new PcComponentFormViewModel<Hdd>(Model, FormMode.Create))