@model ContactsViewModel

@{
    ViewData["Title"] = "Search";

    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
}

<h2 class="text-center">Search Users</h2>

<form class="mb-2" asp-controller="Contacts" asp-action="Search" method="get">
    <div class="searchbar-container">
        <div class="search-bar">
            <div class="input-container">
                <input class="search-input"
                       placeholder="Search..."
                       type="search"
                       name="@Model.SearchQueryName"
                       value="@Model.SearchQuery" />
            </div>
        </div>
        <button type="submit" class="search-button"><i class="fa fa-search"></i></button>
    </div>
</form>

@await Html.PartialAsync("Users/_UsersInfo", Model)