@model FormMode

@if (Model == FormMode.Create)
{
    if (ViewData["FirstError"] != null)
    {
        <span class="text-danger mt-4">@ViewData["FirstError"]</span>
        <button type="submit" class="create-component-button mt-4 mb-4">Create</button>
    }
    else
    {
        <button type="submit" class="create-component-button mt-5 mb-4">Create</button>
    }
}
else if (Model == FormMode.Edit)
{
    if (ViewData["FirstError"] != null)
    {
        <span class="text-danger mt-4">@ViewData["FirstError"]</span>
        <button type="submit" class="edit-component-button mt-4 mb-4">Edit</button>
    }
    else
    {
        <button type="submit" class="edit-component-button mt-5 mb-4">Edit</button>
    }
}