@using PCSetupHub.Data.Models.Hardware

@model VideoCard

@{
    ViewData["Title"] = "Video Card";
}

<h1 class="mt-2 mb-5">Edit Video Card</h1>

@await Html.PartialAsync("PcComponents/Forms/_VideoCardForm", new PcComponentFormViewModel<VideoCard>(Model, FormMode.Edit))