@using PCSetupHub.Web.ViewModels

@model ComponentTitleViewModel

<div>
	@Model.ComponentTypeName
	@if (Model.ComponentNumber != null)
	{
		<sup>@Model.ComponentNumber</sup>
	}
	@if (Model.Component != null)
	{
		@if (!string.IsNullOrWhiteSpace(Model.ComponentTypeName))
		{
			@:–
		}
		@Model.Component.Name
	}
</div>
<div>
	@if (Model.IsCurrentUserOwner)
	{
		if (Model.ShowAddButton)
		{
			<span>[Add]</span>
		}

		if (Model.Component == null && !Model.ShowAddButton)
		{
			<span>[Select]</span>
		}
		else if (Model.Component != null)
		{
			if (Model.Component.IsDefault)
			{
				<span>[Select] [Clear]</span>
			}
			else
			{
				<span>[Edit] [Delete]</span>
			}
		}
	}
</div>