@using PCSetupHub.Web.ViewModels

@model ComponentTitleViewModel

<h3 class="component-title text-muted">
	@Model.ComponentTypeName
	@if (Model.ComponentNumber != null)
	{
		<sup>@Model.ComponentNumber</sup>
	}
</h3>
<div class="section-header d-flex justify-content-between align-items-center mb-3">
	<div>
		@if (Model.Component != null)
		{
			<div class="component-name">
				@Model.Component.Name
			</div>
		}
	</div>
	<form>
		@if (Model.IsCurrentUserOwner)
		{
			if (Model.ShowAddButton)
			{
				<button class="add-button" type="submit">Add</button>
			}

			if (Model.Component == null && !Model.ShowAddButton)
			{
				<button class="select-button" type="submit">Select</button>
			}
			else if (Model.Component != null)
			{
				if (Model.Component.IsDefault)
				{
					<button class="select-button" type="submit">Select</button>
					<button class="clear-button" type="submit">Clear</button>
				}
				else
				{
					<button class="edit-button" type="submit">Edit</button>
					<button class="delete-button" type="submit">Delete</button>
				}
			}
		}
	</form>
</div>