@using PCSetupHub.Data.Models.Hardware

@model Processor

@{
	ViewData["Title"] = "Processor";
}

<h1 class="mt-2 mb-5">Create Processor</h1>

<form asp-action="Create" method="post" class="w-100 d-flex flex-column justify-content-center align-items-center">
	<div class="form__group field">
		<input type="text" class="form__field" placeholder="Name" asp-for="Name">
		<label for="Name" class="form__label">Name</label>
	</div>

	<div class="form__group field">
		<input type="number" class="form__field" placeholder="Price" asp-for="Price" min="0.01" step="0.01">
		<label for="Price" class="form__label">Price</label>
	</div>

	<div class="form__group field">
		<input type="number" class="form__field" placeholder="CoreCount" asp-for="CoreCount" min="1" max="255" required />
		<label for="CoreCount" class="form__label">Number of cores</label>
	</div>

	<div class="form__group field">
		<input type="number" class="form__field" placeholder="CoreClock" asp-for="CoreClock" min="0.1" step="0.1" required />
		<label for="CoreClock" class="form__label">Core clock (GHz)</label>
	</div>

	<div class="form__group field">
		<input type="number" class="form__field" placeholder="BoostClock" asp-for="BoostClock" min="0.1" step="0.1" />
		<label for="BoostClock" class="form__label">Boost clock (GHz)</label>
	</div>

	<div class="form__group field">
		<input type="number" class="form__field" placeholder="TDP" asp-for="TDP" min="1" required />
		<label for="TDP" class="form__label">TDP (W)</label>
	</div>

	<div class="form__group field mb-5">
		<input type="text" class="form__field" placeholder="Graphics" asp-for="Graphics">
		<label for="Graphics" class="form__label">Integrated graphics</label>
	</div>

	<div class="radio-button-container">
		<div>
			<label>SMT support:</label>
		</div>
		<div>
			<div class="radio-button me-4">
				<input type="radio" asp-for="SMT" value="true" id="smt-yes" class="radio-button__input">
				<label for="smt-yes" class="radio-button__label">
					<span class="radio-button__custom"></span>
					Yes
				</label>
			</div>
			<div class="radio-button">
				<input type="radio" asp-for="SMT" value="false" id="smt-no" class="radio-button__input">
				<label for="smt-no" class="radio-button__label">
					<span class="radio-button__custom"></span>
					No
				</label>
			</div>
		</div>
	</div>

	@if (ViewData["FirstError"] != null)
	{
		<span class="text-danger mt-4">@ViewData["FirstError"]</span>
		<button type="submit" class="create-component-button mt-4 mb-4">Create</button>
	}
	else
	{
		<button type="submit" class="create-component-button mt-5 mb-4">Create</button>
	}
</form>