@using PCSetupHub.Data.Models.Hardware
@using PCSetupHub.Web.ViewModels

@model SearchComponentViewModel<Processor>

@{
	ViewData["Title"] = $"Processors";
}

<form asp-controller="Processor" asp-action="Search" method="get">
	<div class="searchbar-container">
		<div class="search-bar">
			<div class="input-container">
				<input class="search-input"
					   id="search-input"
					   placeholder="Search..."
					   type="text"
					   asp-for="SearchQuery"
					   value="@Model.SearchQuery" />
			</div>
		</div>
		<button type="submit" class="search-button"><i class="fa fa-search"></i></button>
	</div>
</form>

@await Html.PartialAsync("PcComponents/_SearchResultsPartial", new SearchResultsViewModel(Model.PcConfigurationId, Model.Components.Cast<HardwareComponent>().ToList(), Model.CurrentComponentId, "Processor"))