@using PCSetupHub.Core.DTOs

@model LoginRequest

@{
	ViewData["Title"] = "Login";
	Layout = "_AuthLayout";
}

<form asp-controller="Auth" asp-action="Login" method="post">
	<h2>Login</h2>

	<div class="input-field">
		<input asp-for="Login" type="text" required />
		<label asp-for="Login">Login:</label>
	</div>

	<div class="input-field mb-5">
		<input asp-for="Password" type="password" required />
		<label asp-for="Password">Password:</label>
	</div>

	@if (ViewData["FirstError"] != null)
	{
		<span class="text-danger mb-3">@ViewData["FirstError"]</span>
	}

	<button type="submit">Log In</button>

	<div class="register">
		<p>Don't have an account? <a asp-controller="Auth" asp-action="Register">Register</a></p>
	</div>
</form>