@using PCSetupHub.Core.DTOs

@model DeleteAccountRequest

@{
    ViewData["Title"] = "Delete Account";
    Layout = "_AuthLayout";
}

<form asp-controller="Auth" asp-action="DeleteAccount" method="post">
    <h2 class="mb-5">Delete Account</h2>

    @if (Model.HasPassword)
    {
        <div class="input-field mb-4">
            <input asp-for="Password" type="password" required autocomplete="off" />
            <label asp-for="Password">Password:</label>
            <button type="button" id="toggle-password" title="Show password" tabindex="-1">
                <i class="fas fa-eye"></i>
            </button>
        </div>
    }

    <div class="forget mb-5">
        <label asp-for="IsConfirmed">
            <input asp-for="IsConfirmed" type="checkbox" class="form-check-input">
            <span>I confirm that I want to delete my account</span>
        </label>
    </div>

    @if (!string.IsNullOrWhiteSpace(ViewData["FirstError"]?.ToString()))
    {
        <span class="text-danger mb-4" id="error-container">@ViewData["FirstError"]</span>
    }

    <button class="mb-4" type="submit">Delete</button>
</form>

<script src="~/js/auth.js"></script>